body {
    margin: 0;
    overflow: hidden;
    background-color: #504d4e; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
}

.cat {
    width: 300px;
    height: 300px;
    animation: walk 5s linear infinite;
}

@keyframes walk {
    0% {
        transform: translateX(-100vw) rotate(0deg);
    }
    50% {
        transform: translateX(50vw) rotate(10deg);
    }
    100% {
        transform: translateX(100vw) rotate(0deg);
    }
}